@model ZPOS.UI.Models.CategoryVM

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar categoría</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="formEditCategory" method="post" asp-antiforgery="false">
                <input asp-for="ID" hidden />
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Name">Nombre</label>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="saveEditedCategory" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery-serialize-object/jquery.serialize-object.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/Cagetories.js"></script>
<script>
    $("#formEditCategory").submit(function (event) {
        event.preventDefault();
    });

    $('#saveEditedCategory').on('click', function () {
        if ($("#formEditCategory").valid()) {
            $('#saveCategory').attr('disabled', true);
            var model = $('#formEditCategory').serializeObject();

            SaveCategoryEdited(model).then((result) => {
                Swal.fire(
                    'Transaccíon con exito!',
                    result,
                    'success'
                );

                $("#modal-edit-category").modal("hide");

                GetCategories().then(categories => {
                    $("#divCategories").html(categories);
                }).catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error
                    });
                });
            }).catch((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: error
                });
                $('#saveCategory').attr('disabled', false);
            });
        }
        return false;
    });
</script>