@model IEnumerable<ZPOS.UI.Models.CategoryVM>
<style>
    .btnDelete {
        color: white !important;
        font-weight: bold !important;
    }

    .btnEdit {
        color: white !important;
        font-weight: bold !important;
    }
</style>
<table class="table table-head-fixed text-nowrap table-striped table-bordered table-sm mt-4" id="table">
    <thead>
        <tr>
            <th width="50%">Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a data-categoryId="@category.ID" class="btn btn-warning btnEdit"><i class="fas fa-edit"></i></a> | <a data-categoryId="@category.ID" class="btn btn-danger btnDelete"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/configDataTable.js"></script>
<script src="~/js/Cagetories.js"></script>
<script>

    $('.btnDelete').on('click', function () {
        var id = $(this).attr("data-categoryId");

        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esta transacción no tiene reverso!!!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#007bff',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Si, eliminalo!'
        }).then((result) => {
            if (result.isConfirmed) {
                DeleteCategory(id).then(result => {
                    Swal.fire(
                        'Eliminado!',
                        result,
                        'success'
                    )

                    GetCategories().then(categories => {
                        $("#divCategories").html(categories);
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error
                        });
                    });

                }).catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error
                    });
                });
            }
        })
    });

    $('.btnEdit').click(function () {
        var id = $(this).attr("data-categoryId");
        LoadFormEditCategory(id).then(form => {
            $("#modal-edit-category").html(form);

            $("#modal-edit-category").modal("show");
        }).catch(error => {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: error
            });
        });
    });
</script>